<template>
  <q-page>
    <div class="body">
      <div class="column" style="height: 700px">
        <div class="col color" style="position: relative">
          <div style="
            position: absolute;
            background: white;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 40px;
          ">
          </div>
          <div class="i">
          <span><b>HERNI WAHYUNI</b></span>
            <span class="i">ABOUT</span>
            <span class="i">EXPERIENCE</span>
            <span class="i">SKILLS</span>
            <span class="i">EDUCATION</span>
            <span class="i">WORK</span>
            <span class="i">CONTACT</span>
            <span class="i"><img src="/assets/facebook.png" alt="" style="height: 25px; width: 25px; color: blue-sky; "></span>
            <span class="i"><img src="/assets/twitter.png" alt="" style="height: 20px; width: 20px; "></span>
            <span class="i"><img src="/assets/in.png" alt="" style="height: 20px; width: 20px; "></span>
          </div>
          <div style=" box-shadow: 4px 4px 4px grey; width: 800px; margin:80px auto auto; background: white; position: relative; margin-top: 20px; ">
            <div class="row">
              <div class="">
                <img src="/assets/muslimah.jpg" alt="">
              </div>
              <div style="padding-left: 50px;">
                <br>
                <span style="font-size: 20px;"><b>Hello! I'am Herni Wahyuni</b></span>
                <br>
                <span>UX/UI Designer & Web Developer</span>
                <hr>
                <span>
                  <q-icon name="phone" style="font-size: 25px;" />Phone: 0821-2742-9701
                </span>
                <br>
                <span>
                  <q-icon name="mail" style="font-size: 25px" />Email: herniwahyuni711@gmail.com
                </span>
                <br>
                <span>
                  <q-icon name="home" style="font-size: 25px" />Address: Cisayong,Tasikmalaya
                </span>
                <br>
                <span>
                  <q-icon name="cake" style="font-size: 25px;"/>Date of Birth: November 7th,  2001
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col inline">
          <div style="width: 800px; margin: auto; margin-top: 20px; text-align: center;">
          <br><br><br>
          <span><b>About Me</b></span>
          <br>
          <br>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
        </div>
        <div class="col color">
          <div style="width: 800px; margin: auto; background: #9400D3; margin-top: 20px; text-align: center; ">
          <br>
          <span><b>Work Experience</b></span>
          <br>
          <br>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
    </div>
  </q-page>
</template>

<style>
.color{
  background-color: #9400D3;
  }
.body{
  height: 700px;
  border: 1px solid white;
}
img{
  height: 210px;
  width: auto;
  top: 15px;
  left: 30px;
}
.inline{
  background-color: white;
}
.i{
  margin-left: 77px;
}
</style>
<script>
export default {
  name: 'PageIndex'
}
</script>
